/first/.bundle
/first/.idea

/first/log/*
/first/tmp/*
!/first/log/.keep
!/first/tmp/.keep

/first/tmp/pids/*
!/first/tmp/pids/
!/first/tmp/pids/.keep

/first/storage/*
!/first/storage/.keep
/first/tmp/storage/*
!/first/tmp/storage/
!/first/tmp/storage/.keep

/first/config/master.key
/second/.idea

/third/.idea
/third/.bundle
/third/vendor

/fourth/.idea
/fourth/.bundle
/fourth/vendor
/fifth/.bundle
/fifth/.idea

/fifth/log/*
/fifth/tmp/*
!/fifth/log/.keep
!/fifth/tmp/.keep

/fifth/tmp/pids/*
!/fifth/tmp/pids/
!/fifth/tmp/pids/.keep

/fifth/storage/*
!/fifth/storage/.keep
/fifth/tmp/storage/*
!/fifth/tmp/storage/
!/fifth/tmp/storage/.keep

/fifth/config/master.key
