/first/.bundle
/first/.idea

/first/log/*
/first/tmp/*
!/first/log/.keep
!/first/tmp/.keep

/first/tmp/pids/*
!/first/tmp/pids/
!/first/tmp/pids/.keep

/first/storage/*
!/first/storage/.keep
/first/tmp/storage/*
!/first/tmp/storage/
!/first/tmp/storage/.keep

/first/config/master.key
/second/.idea      
/third/.idea
/third/.bundle
/third/vendor
